@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200&family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
@import 'mediaqueries.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat';
}

.hero {
    background-color: #002d7e;
    background-size: 100%;
}


/* HEADER */ 

header {
    background-color: #154251;
    height: 100px;
    padding: 0 50px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    text-transform: uppercase;
    color: #eae3c0;
    margin-left: 20px;
    font-weight: 200;
    font-size: 37px;
    text-decoration: none;
}

.logo:hover{
    color: #6cc091;
}

.menu a{
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 15px;
    font-size: 19px;
    transition: 0.4s;
}

.mostrar-menu, .esconder-menu{
    font-size: 30px;
    cursor: pointer;
    transition: 0.4s;
    display: none;
}

.mostrar-menu{
    order: 1;
}

.menu a:hover, .mostrar-menu:hover, .esconder-menu:hover{
    color: #6cc091;
}

#check{
    display: none;
}

/*SECCION DEL MENU*/

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat';
}

.content-info {
    margin-top: 9em;
    color: #eae3c0;
    text-align: center;
}

main h2{
    font-size: 95px;
    text-align: center;
    margin: 1rem;
}

main h3{
    font-size: 40px;
    padding-top: 15px;
    color: #bdd4e3;
    text-align: center;
    margin: 1rem;
}

main p{
    color: #eae3c0;
    text-align: center;
    padding-top: 15px;
    font-size: 25px;
    font-family: 'Montserrat';
    margin: 1rem 0;
}

.galeria-productos{
    padding-left: 150px;
    margin-top: 80px;
    margin-bottom: 10px;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat';
}

/* FOOTER */

footer{
    background-color: #215a6d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

footer p{
    margin-top: 10px;
}



/*  RESPONSIVE */

@media(max-width:768px){

 /* HEADER */ 

 .mostrar-menu, .esconder-menu{
    display: block;
}

.menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #154251;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 100px 0px;
    z-index: 100;
    transition: 0.8s;
}

.menu a{
    display: block;
    padding: 20px;
}

.esconder-menu{
    position: absolute;
    top: 40px;
    right: 40px;
}

#check:checked ~ .menu{
    right: 0;
}

#personas{
    flex-direction: column;
}

h1{
    color: white;
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
    text-align: center;
}

div.galeria{

padding-top: 20px;
margin: 10px 20px;
box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0 rgb(0,0,0,0.19);
float: left;
width: 350px;
}

div.galeria img {
    width: 80%;
    height: auto;
}

div.galeria:hover {
    border: 1px solid rgb(252, 240, 240);
    transform: rotate(-3deg)
}

div.pie {
    text-align: center;
    
    text-shadow: 2px 2px 5px purple;
    padding: 10px;
}

footer{
    background-color: #215a6d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

footer p{
    margin-top: 10px;
}

.content-info h2{
    font-size: 70px;
}

.content-info h3{
    font-size: 20px;
}

.content-info p{
    font-size: 17px ;
}

.ingresa a{
 margin-left: 140px;
}

footer p{
    font-size: 10px;
    text-align: center;
}

.galeria-productos{
    margin-left: -80px;
    margin-bottom: 30px;
}

}
}
