@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200&family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
@import 'mediaqueries.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat';
}

.hero {
    background-color: #002d7e;
    background-size: 100%;
    opacity: 92%;
}

header {
    background-color: #154251;
}

.navbar {
display: grid;
grid-template-columns: repeat(9, 1fr);
padding: 30px;
}

.navbar .brand {
    color: #eae3c0;
    padding-right: 69px;
}

.navbar h4{
    font-size: 37px;
    padding-right:100px;
}

.navbar .menu {
    grid-column: 6 / 9;
    display: flex;
}

.menu li {
    list-style: none;
    margin-top: 10px;
}

.menu li a {
    text-decoration: none;
    margin-right: 30px;
    text-align: center;
    padding-left: 30px;
    font-size: 1.3em;
    color: #eae3c0;
}


.menu-bar {
    display: none;
}

.mostrar-menu,.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

.mostrar-menu {
    order:1;
}
.menu a:hover,.mostrar-menu:hover,.esconder-menu:hover {
    color: rgb(245, 255, 216)
}

#check{
    display: none;
}


/*SECCION DEL MENU*/

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat';
}

.content-info {
    margin-top: 9em;
    color: #eae3c0;
    text-align: center;
}

main h2{
    font-size: 95px;
    text-align: center;
    margin: 1rem;
}

main h3{
    font-size: 40px;
    padding-top: 15px;
    color: #bdd4e3;
    text-align: center;
    margin: 1rem;
}

main p{
    color: #eae3c0;
    text-align: center;
    padding-top: 15px;
    font-size: 25px;
    font-family: 'Montserrat';
    margin: 1rem 0;
}

.galeria-productos{
    padding-left: 150px;
    margin-top: 80px;
    margin-bottom: 10px;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat';
}


/*  PRODUCTOS  */


/* FOOTER */

footer{
    background-color: #215a6d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

footer p{
    margin-top: 10px;
}



/*  RESPONSIVE */
@media(max-width:768px){
    .mostrar-menu, .esconder-menu{
        display: block;
    }

    nav{
        justify-content: flex-start;
    }

    .drawer{
        display: block;
    }

    nav h1 {
        margin-left: 1rem;
    }

    ul{
      
        width: 100%;
        height: 100vh;
        background-color: darkslateblue;
        left: 0;
        text-align: center;
        top: 0;
        right: -100%;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
        display: flex;
        flex-direction: column;
        align-content: stretch;
    }

    nav ul li {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
        border-bottom: solid .1rem rgba(201,196,196,0.4);
    }

    .menu a {
        display: block;
        padding: 20px;
    }
    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #check:checked ~ ul{
        right: 0;

    }
/* PERSONAS */
#personas{
    flex-direction: column;
}

 }

h1{
    color: white;
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
    text-align: center;
}

div.galeria{

padding-top: 20px;
margin: 10px 20px;
box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0 rgb(0,0,0,0.19);
float: left;
width: 350px;
}

div.galeria img {
    width: 100%;
    height: auto;
}

div.galeria:hover {
    border: 1px solid rgb(252, 240, 240);
    transform: rotate(-3deg)
}

div.pie {
    text-align: center;
    
    text-shadow: 2px 2px 5px purple;
    padding: 10px;
}
