@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200&family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
@import 'mediaqueries.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat';
    
}

.hero {
    background-color: #002d7e;
    background-size: 100%;
}

/* HEADER */ 

header {
    background-color: #154251;
    height: 100px;
    padding: 0 50px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    text-transform: uppercase;
    color: #eae3c0;
    margin-left: 20px;
    font-weight: 200;
    font-size: 37px;
    text-decoration: none;
}

.logo:hover{
    color: #6cc091;
}

.menu a{
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 15px;
    font-size: 19px;
    transition: 0.4s;
}

.mostrar-menu, .esconder-menu{
    font-size: 30px;
    cursor: pointer;
    transition: 0.4s;
    display: none;
}

.mostrar-menu{
    order: 1;
}

.menu a:hover, .mostrar-menu:hover, .esconder-menu:hover{
    color: #6cc091;
}

#check{
    display: none;
}

/*SECCION DEL MENU*/

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat';
}

.content-info {
    margin-top: 9em;
    color: #eae3c0;
    text-align: center;
}

main h2{
    font-size: 95px;
    text-align: center;
    margin: 1rem;
}

main h3{
    font-size: 35px;
    padding-top: 5px;
    color: #bdd4e3;
    text-align: center;
    margin: 1rem;
    font-family: Verdana;
}

main img {
    margin-top: 4em;
    height: 60vh;
    opacity: 90%;
}

main h1{
    padding-top: 50px;
    color: #bdd1de;
    font-family: 'Montserrat';
    text-align: center;
    background-color: rgba(43, 37, 37, 0.107);
    margin: 1rem 2rem;
}

main p{
    color: #a298ea;
    text-align: center;
    padding-top: 15px;
    font-size: 25px;
    font-family: 'Montserrat';
    margin: 1rem 0;
}

/* PRODUCTOS */

#productos{
    margin-top: 30px;
    font-family: 'Montserrat';
    padding: 40px 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    opacity: 90%;
}

#productos img{
    border-width: 100%;
    height: 30vh;
}
#productosdiv{
    padding: 80px 80px;
}

#productos div h4{
    color: #eae3c0;
    background-color: rgba(59, 59, 63, 0.053);
    font-size: 22px;
    font-family: 'Montserrat';
    margin: 30px 3px;
}

#productos div p{
    color: #bdd1de;
    font-size: 17px;
    font-family: 'Montserrat';
}

.boton-mas{
display: inline-block;
text-decoration: none;
color: #eae3c0;
padding: 10px 30px;
border: 3px solid #e6f0af;
border-radius: 30px;
margin-top: 15px;
font-family: 'Montserrat';
transition: all 0.4s;
}

.boton-mas:hover {
    background-color: teal;
    color: white;
}

/* FOOTER */

footer{
    background-color: #154251;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

footer p{
    margin-top: 10px;
}


/*  RESPONSIVE */

@media(max-width:768px){

    /* HEADER */ 

    .mostrar-menu, .esconder-menu{
        display: block;
    }

    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #154251;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
    }

    .menu a{
        display: block;
        padding: 20px;
    }

    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #check:checked ~ .menu{
        right: 0;
    }

    .content-info h2{
        font-size: 50px;
    }
    
    .content-info h3{
        font-size: 15px;
    }
    
    .content-info p{
        font-size: 11px ;
    }
    
    .ingresa a{
     margin-left: 140px;
    }
    
    footer p{
        font-size: 10px;
        text-align: center;
    }

    #productos a{
        margin-bottom: 25px;
    }

    .content-info img{
    width: 80%;
    }

    #productos img{
    width: 80%;
        padding-left: -30px;
    }


#productos{
    flex-direction: column;
}

 }


